/* Intro */
#introduction {
  align-items: center;
  font-size: 175px;
  text-align: left;
  min-height: 700px;
  margin: 20px;
  padding: 25px;
  max-width: 100%;
}

#scroll {
  text-align: center;
  font-size: larger;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
  padding: 20px;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Navbar */
#navbar {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  height: 60px;
}

#navreplace {
  height: 170px;
}

.here {
  display:block;
}

.nothere {
  display:none;
}

#navbar div a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.notsticky {
  margin-top: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* About */

#aboutme {
  align-items: center;
  font-size: 50px;
  text-align: center;
  min-height: 300px;
  margin: 25px 25px 0 25px;
  padding: 25px;
}

#self {
  background-image: url('./assets/self-trim.png');
  height: 400px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

/* Portfolio */

.port-app {
  padding: 50px;
}

.app-link {
  height: 300px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border: 4px solid #555;
  border-radius: 4px;
}

.app-link:hover {
  opacity: .5;
}

.app-title {
  color: white;
  background-color: #555;
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px 0;
}

.app-des {
  margin: auto;
  font-size: 25px;
}

#wordle {
  background-image: url('./assets/wordle.png');
}

#movies {
  background-image: url('./assets/movies.png');
}

#party {
  background-image: url('./assets/afterparty.png');
}

#karate {
  background-image: url('./assets/karate.png');
}

#art {
  background-image: url('./assets/art.png');
}

#tims {
  background-image: url('./assets/timsmobile.jpg');
}

/* Skills */

.skill-list {
  margin: 50px;
  font-size: 50px;
}

/* Contact */

.contact-links {
  padding: 25px;
  font-size: 25px;
}

.contact-tiny {
  display: none;
}

#button-container {
  display: flex;
  justify-content: center;
}

#submit {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
}

#message {
  height: 200px;
}

/* Everything */
.heading {
  font-size: 75px;
}

.spacing {
  padding: 50px;
}

* {
  font-family: 'Quicksand', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#icons {
  float: right;
  padding: 15px;
}

@media only screen and (max-width: 1350px) {
  .app-link {
    height: 250px;
    width: 400px;
  }

  .app-title {
    width: 400px;
  }

  .app-des {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .app-link {
    height: 200px;
    width: 300px;
  }

  .app-title {
    width: 300px;
  }

  .app-des {
    width: 300px;
  }

  #introduction {
    font-size: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .app-link {
    height: 125px;
    width: 200px;
  }

  .app-title {
    width: 200px;
  }

  .app-des {
    width: 200px;
  }

  #introduction {
    font-size: 115px;
  }

  #andint {
    display: none;
  }

  .contact-links {
    display: none;
  }

  .contact-tiny {
    display: block;
  }

  #icons {
    font-size: 10px;
  }
}

/* FOR MOBILE DEVICES */
@media only screen and (max-width: 400px) {
  #introduction {
    max-width: 100%;
    font-size: 65px;
    min-height: 100px;
  }

  #aboutme {
    font-size: 20px;
    min-height: 100px;
    margin: 5px 5px 0 5px;
    padding: 10px 0;
  }

  #self {
    height: 300px;
    width: 300px;
  }

  .spacing {
    padding: 10px;
  }

  .heading {
    font-size: 60px;
  }

  .skill-list {
    font-size: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 0;
  }

  .app-link {
    height: 75px;
    width: 120px;
  }

  .app-title {
    width: 120px;
    font-size: 20px;
    padding: 5px;
  }

  .app-des {
    width: 120px;
    font-size: 15px;
    padding-top: 5px;
  }

  .contact-links {
    display: none;
  }

  .contact-tiny {
    display: block;
  }

  #icons {
    font-size: 10px;
  }

  #andint {
    display: none;
  }

  #navbar div a {
    font-size: 20px;
  }

  #navbar{
    width: 103%;
  }

}