/* Intro */
#introduction {
  align-items: center;
  font-size: 175px;
  text-align: left;
  font-family:'Quicksand', monospace;
  height: 700px;
  margin: 20px;
  padding: 25px;
}

#scroll {
  text-align: center;
  font-size: larger;
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
  padding: 20px;
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* Navbar */
#navbar {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.notsticky {
  margin-top: 150px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
